body {
    background-color: rgb(231, 226, 226);
}

.box-1 {
    padding: 30px;
    margin: 40px;
}

.white {
  background: white;
}

h3 {
    color: rgb(17, 185, 185);
    text-align: left;
    font-weight: bolder;
}

h4 {
    color: rgb(17, 185, 185);
    text-align: left;
    padding: 5px;
}

.box-2 {
    padding: 10px;
    margin-top: 40px;
    margin-left: 10px;
}

.img-thumbnail:hover {
    border-color: green;
    border-width: 2pt;
  }


